include page/common/root.pug
doctype html
html(lang="en")
  include page/common/head.pug
  link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
  body 
    include page/components/preloader.pug
    include page/components/navbar.pug
    include page/components/listBanner.pug
    include page/components/swipers.pug
    include page/components/swipers2.pug
    include page/components/swipers3.pug
    include page/components/footer.pug
    script(src="./js/main.js")