.about 
    h5.info DAS HOUSE
    h2.head__text О НАШЕЙ <span> КОМПАНИИ
    .about__content 
        .about__content-item1 
            h3 Высококачественная продукция DAS HOUSE
            p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения Для современного мира курс 
        .about__content-item2 
            h3 преимущества нашей продукции
            img(src="images/icon1.svg", alt="")
            p Долговечность
            img(src="images/icon2.svg", alt="")
            p Дешевле на 40% стальных аналогов
            img(src="images/icon3.svg", alt="")
            p Легче стальных аналогов в 4-6 раз
            img(src="", alt="")
        .about__content-img 
            img(src="images/about_img.png", alt="")
