.advantages.container 
    h2.head__text преимущества <span> нашей продукции
    .advantages__content 
        .advantages__content_item
            img(src="images/icon1.svg", alt="")
            span Долговечность
            p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения Для современного мира курс на социально-ориентированный  Для современного мира курс на 
        .advantages__content_item
            img(src="images/icon2.svg", alt="")
            span Дешевле на 40% стальных аналогов
            p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения Для современного мира курс на социально-ориентированный  
        .advantages__content_item
            img(src="images/icon3.svg", alt="")
            span Легче стальных аналогов в 4-6 раз
            p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения Для современного мира курс на социально-ориентированный  
    

