.swiper.mySwiper
    .banner-leftpanel 
            .banner-leftpanel__text ПРОДУКЦИЯ
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ
            span.line 
            ul.links 
                li: a(href="https://vk.com/")
                    img(src="images/Vk.svg", alt="")  
                li: a(href="https://ru-ru.facebook.com/")
                    img(src="images/facebook.svg", alt="")  
                li: a(href="https://twitter.com/")
                    img(src="images/twitter.svg", alt="")  
                li: a(href="https://www.instagram.com/")    
                    img(src="images/instagram.svg", alt="")  
                li: a(href="https://www.youtube.com/")
                    img(src="images/youtube.svg", alt="")
    .swiper-wrapper
        .swiper-slide
            .banner 
                img(src="images/banner.png", alt="")
                .banner__text
                    .banner__text-center
                        h1 БАЗАЛЬТОВАЯ ПРОДУКЦИЯ ВЫСОКОГО КАЧЕСТВА
                        p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения 
                        a(href="productspage.html").banner__btn ПЕРЕЙТИ К ПРОДУКЦИИ
        .swiper-slide
            .banner 
                img(src="images/banner.png", alt="")
                .banner__text
                    .banner__text-center
                        h1 БАЗАЛЬТОВАЯ ПРОДУКЦИЯ ВЫСОКОГО КАЧЕСТВА
                        p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения 
                        a(href="productspage.html").banner__btn ПЕРЕЙТИ К ПРОДУКЦИИ
        .swiper-slide
            .banner 
                img(src="images/banner.png", alt="")
                .banner__text
                    .banner__text-center
                        h1 БАЗАЛЬТОВАЯ ПРОДУКЦИЯ ВЫСОКОГО КАЧЕСТВА
                        p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения 
                        a(href="productspage.html").banner__btn ПЕРЕЙТИ К ПРОДУКЦИИ
    <div class="swiper-pagination"></div>
    .swiper-pagination__box
        <div class="swiper-button-prev">прев</div>
        <div class="swiper-button-next">след</div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

       