.bazVata
    .bazVata__content
        h3 Базальтная вата
        img(src="images/vatabanner.png", alt="")
span.headrdrug другие
.bazVataitems
    .bazVataitems-center 
        .bazVataitems-center__item
            img(src="images/drugie1.png", alt="")
            .bazVataitems-center__item_text 
                p Композитная арматура
                a(href="bazaltovayavata.html")  ПОДРОБНЕЕ
        .bazVataitems-center__item
            img(src="images/drugie4.png", alt="")
            .bazVataitems-center__item_text 
                p Композитная арматура
                a(href="bazaltovayavata.html")  ПОДРОБНЕЕ
        .bazVataitems-center__item
            img(src="images/drugie2.png", alt="")
            .bazVataitems-center__item_text 
                p Композитная арматура
                a(href="bazaltovayavata.html")  ПОДРОБНЕЕ
        .bazVataitems-center__item
            img(src="images/drugie3.png", alt="")
            .bazVataitems-center__item_text
                p Композитная арматура
                a(href="bazaltovayavata.html")  ПОДРОБНЕЕ
.textProduct 
    .textProduct_center Сложно сказать, почему действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, представлены в исключительно положительном свете. Но повышение уровня гражданского сознания создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса новых принципов формирования материально-технической и кадровой базы. Кстати,  акционеры крупнейших компаний будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.Сложно сказать, почему действия представителей оппозиции, 