.connect
        h2.head__text СВЯЖИТЕСЬ <span> С НАМИ
        .connect-items
                .connect-items__contact 
                        a(href="tel:+998 99 000 00 00")  +998 99 000 00 00
                        a(href="tel:+998 99 000 00 00")  +998 99 000 00 00
                        a(href="tel:+998 99 000 00 00")  +998 99 000 00 00
                        a(href="mailto:mail@mail.com")  mail@mail.com
                form(action="").connect-items__form
                        .inputs 
                                input(class="tel" placeholder="Тел номер")  
                                input(type="text" placeholder="Организация")  
                                input(type="text" placeholder="Фамилия")  
                                input(type="text" placeholder="Имя") 
                        .massages  
                                textarea(cols="20", rows="10") СООБЩЕНИЕ
                        .button 
                                button( type="submit") ОТПРАВИТЬ

