.listbanner 
    img(src="images/banner.png", alt="")
    .listbanner-leftpanel 
        .listbanner-leftpanel__text компании
        span.line 
        ul.links 
            li: a(href="https://vk.com/")
                img(src="images/Vk.svg", alt="")  
            li: a(href="https://ru-ru.facebook.com/")
                img(src="images/facebook.svg", alt="")   
            li: a(href="https://twitter.com/")
                img(src="images/twitter.svg", alt="")  
            li: a(href="https://www.instagram.com/")     
                img(src="images/instagram.svg", alt="")    
            li: a(href="https://www.youtube.com/")
                img(src="images/youtube.svg", alt="")  
    .listbanner__text
        h1.listbanner__text-h1 О НАШЕЙ КОМПАНИИ 