.navbar
    .navbar__nav 
        a(href="index.html").navbar__nav-logo: img(src="images/logo.png", alt="") 
        a(href="contactpage.html").navbar__nav-number: <p>+998 99 000 00 00</p>
        .burger-menu 
            a.burger-menu_button
                span.burger-menu_lines 
            ul.navbar__nav-list
                li: a(href="index.html" class="burger-menu_link") Главная    
                li: a(href="aboutus.html" class="burger-menu_link") О нас    
                li: a(href="productspage.html" class="burger-menu_link") Продукция    
                li: a(href="portfolio.html" class="burger-menu_link") Портфолио    
                li: a(href="contactpage.html" class="burger-menu_link") Контакты  
            .burger-menu_overlay  
