.partners 
    h5 ДОВЕРИЕ
    h2.partners__text Нам <span> доверяют
    .partners__content 
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")    
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
        .partners__content-item 
            img(src="images/Logo_bottom.png", alt="")
