.products2 
    a(href="bazaltovayavata.html").products2-item
        img(src="images/item_1.png", alt="")
        .products2-item__text
            h2 Базальтная вата
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ  
    a(href="bazaltovayavata.html").products2-item 
        img(src="images/item_2.png", alt="")
        .products2-item__text
            h2 Композитная арматура
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ
    a(href="bazaltovayavata.html").products2-item 
        img(src="images/item_3.png", alt="")
        .products2-item__text
            h2 Дорожная сетка
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ  
    a(href="bazaltovayavata.html").products2-item 
        img(src="images/item_4.png", alt="")
        .products2-item__text
            h2 Фибра
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ 
    a(href="bazaltovayavata.html").products2-item
        img(src="images/item_1.png", alt="")
        .products2-item__text
            h2 Базальтная вата
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ  
    a(href="bazaltovayavata.html").products2-item 
        img(src="images/item_2.png", alt="")
        .products2-item__text
            h2 Композитная арматура
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ
    a(href="bazaltovayavata.html").products2-item 
        img(src="images/item_3.png", alt="")
        .products2-item__text
            h2 Дорожная сетка
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ  
    a(href="bazaltovayavata.html").products2-item 
        img(src="images/item_4.png", alt="")
        .products2-item__text
            h2 Фибра
            p БАЗАЛЬТОВАЯ ПРОДУКЦИЯ 
