.result.counter-animate-container 
    h2.head__text НАШИ <span> РЕЗУЛЬТАТЫ
    .result__items
        .result__items-item 
            p(class="number" ) 3000
            span открытых точек
        .result__items-item 
            p(class="number") 3000
            span открытых точек
        .result__items-item 
            p(class="number") 3000
            span открытых точек
        .result__items-item 
            p(class="number") 3000
            span открытых точек
script(src="JQuery-ui/jquery-ui.min.js") 

            
            