.swipers
    .swipers__center 
        .swipers__center_item1
            .swipers__center_item1-content 
                h2 НАЗВАНИЕ ЗАВЕРШЕННОГО ПРОЕКТА
                p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения Для современного мира курс на социально-ориентированный  
            .swiper.mySwipermin
                .swiper-wrapper
                    .swiper-slide.maximg
                        img(src="images/swiperimg1.png", alt="") 
                        a(href="https://www.youtube.com/watch?v=lSaCsGkaZd4" class="play" data-fancybox="video") 
                            img(src="images/iconplay.svg", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg1.png", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg1.png", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg1.png", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg1.png", alt="") 
            .swiper-paginationmin
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>

                
            
