.swipers3 
    .swipers3__center 
        .swipers3__center_item3
            .swipers3__center_item3-content 
                h2 НАЗВАНИЕ ЗАВЕРШЕННОГО ПРОЕКТА
                p Для современного мира курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения Для современного мира курс на социально-ориентированный  
            .swiper.mySwipermin3
                .swiper-wrapper
                    .swiper-slide.maximg
                        img(src="images/swiperimg3.png", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg3.png", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg3.png", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg3.png", alt="") 
                    .swiper-slide.maximg 
                        img(src="images/swiperimg3.png", alt="") 
            .swiper-paginationmin3
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                
            
