.footer{
    width: 100%;
    &__center{
        margin: 100px auto 20px;
        max-width: 1140px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 430px;
        justify-content: flex-start;
        padding: 20px;
        @include media(768){
            gap: 0;
            justify-content: space-between;
        }
        &-logo{
            margin: 0;
        }
        &-text{
            margin: 0;
            color: #ffffff;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
        }
    }
}

